In [197]:
import pandas as pd
import chardet

##### Для демонстрации решения проверял на файле [6; 17], но функция будет работать для любого количества колонок и строк

In [200]:
def get_boolean(file_csv, min_value, max_value):
    headers = ['id']
    for i in range(min_value, max_value):
        header = 'Var_{}'.format(i)
        headers.append(header)
        
    name = file_csv
    with open(file_csv, 'rb') as f:
        read = f.read()
        detect = chardet.detect(read)
        decoding = detect['encoding']
        
    file = pd.read_csv(file_csv, sep ='\s+', encoding = decoding, na_values = True, names=headers)
    
    test_pd = file.notnull()
    
    test_finish = test_pd.replace(to_replace = [True, False], value = [1, 0])
    
    ##Предполагаю, что можно использовать колонку идексов pd вместо номера строки в исходном файле, поэтому ее удаляю, но нужно смотреть на то, как массив будет использоваться дальше
    del test_finish['id'] 
    
    return test_finish

In [201]:
get_boolean('/Users/yvdsd/SandBox/test_OMD.csv',1, 7)

    Var_1  Var_2  Var_3  Var_4  Var_5  Var_6
0       1      1      1      1      1      0
1       1      1      1      1      1      0
2       1      1      1      1      1      0
3       1      1      0      0      0      0
4       1      1      1      1      1      1
5       1      1      1      0      0      0
6       1      1      1      1      0      0
7       1      1      1      1      1      1
8       1      0      0      0      0      0
9       1      1      1      0      0      0
10      1      1      1      1      1      1
11      1      1      0      0      0      0
12      1      1      1      1      1      0
13      1      1      1      1      1      1
14      1      1      1      1      1      1
15      1      1      1      0      0      0
16      1      1      1      1      0      0